.DS_Store
/.qmake.stash
/Makefile
/moc_*.cpp
/qml_*.cpp
/qmlcache_loader.cpp
/qrc_*.cpp
/vkgeo.pro.user
/vkgeo_plugin_import.cpp
/vkgeo_qml_plugin_import.cpp
/.xcode/
/Debug-iphoneos/
/Release-iphoneos/
/vkgeo/Images.xcassets/
/vkgeo.xcodeproj/
